.text-big {
  font-size: 2rem;
}
.text-med {
  font-size: 1.75rem;
}
.text-bold {
  font-weight: 600;
}
.margin-y-med {
  margin: 1.5rem 0;
}
.margin-y-small {
  margin: 1rem 0;
}
.margin-bottom-small {
  margin-bottom: 1rem;
}
